
test/alu_tb_adder-PSpiceFiles/*
test/alu_tb_adder.opj
test/ALU_TB_ADDER_0.DBK
test/alu_tb_adder_pspmetadata.db

design/alu-PSpiceFiles/*
design/alu.opj
design/ALU_0.DBK
design/alu_pspmetadata.db

design/ALU_0.DBK
design/alu-PSpiceFiles/PG_4BIT_BLOCK/PG_4BIT_UNIT.sim
design/alu-PSpiceFiles/PG_4BIT_BLOCK/PG_4BIT_UNIT/PG_4BIT_UNIT.mrk        
design/alu_pspmetadata.db


# !.gitignore
# !./design/ALU.DSN
# !./html/*
# !layout/*
# !presentation/*
# !test/ALU_TB_ADDER.DSN
# !test-setup/*
# !waveforms/*
# !LICENSE
# !README.md




